{% extends "base2.html" %}
{% block content%}
  <div class="header">
    <h2>Login</h2>
  </div>  
  
    <form method="post" action="{{ url_for('users.login') }}">

    <div class="input-group">
        <label>Username</label>
        <input type="text" name="username" >
    </div>
    <div class="input-group">
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <div class="input-group">
        <button type="submit" class="btn" name="login_user">Login</button>
    </div>
    <p>
        Don't have an account? <a href="{{ url_for('users.register') }}">Sign up Here</a>
    </p>
    <p>
        Forgot password? <a href="{{ url_for('users.forgot_pass') }}">Click Here</a>
    </p>
   
  </form>
{% endblock %}
