{% extends "base2.html" %}
{% block content%}
  <div class="header">
    <h2>Sign Up Form</h2>
    <p>Please fill in this form to create an account</p>
  </div>
  
  <form method="post" action="{{ url_for('users.register_user', user_type='user') }}">
  
    <div class="input-group">
      <label>Username</label>
      <input type="text" name="username" required>
    </div>

    <div class="input-group">
      <label>Email</label>
      <input type="email" name="email" required>
    </div>

    <div class="input-group">
      <label>Password</label>
      <input type="password" name="password_1" required>
    </div>

    <div class="input-group">
      <label>Confirm password</label>
      <input type="password" name="password_2" required>
    </div>

    <div class="input-group">
      <button type="submit" class="btn" name="reg_user">Sign Up</button>
    </div>

    <p>
      By creating an account you agree to our <a href="#">Terms & Privacy</a>.
    </p>

    <p>
      Already a member? <a href="{{ url_for('users.login') }}">Sign in here</a>
    </p>
    
  </form>
{% endblock %}
