* {box-sizing: border-box}
{
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #FF0000;
  height: 100vh;
  background-size: 100%;
  background-position: center;
  }


.header {
  width: 30%;
  margin: 50px auto 0px;
  color: black;
  background: #FFD700 ;
  text-align: center;
  border: 1px solid #000000;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #000000;
  background: gold;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #000000;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

